{% extends 'base.html' %}

{% block content %}
<h1>Cruise Details</h1>
<p>Cruise:<b>{{ cruise }}</b></p>
<p>Start Date: <b>{{ cruise.start_date }}</b></p>
<p>End Date: <b>{{ cruise.end_date }}</b></p>
<p>Created by: <b>{{ cruise.creator.username }}</b></p>

{% if request.user == cruise.creator %}
<a href="{% url 'edit_cruise' cruise.id %}">Edit Cruise</a>
{% endif %}

<h2>Packing Items</h2>
<ul></ul>
{% for item in items %}
    <li><b>{{ item.name }}</b> (Quantity: <b>{{ item.quantity }}</b>)
        {% if item.description %}
        <p>{{ item.description }}</p>
        {% endif %}
        {% if request.user == cruise.creator %}
        <a href="{% url 'edit_item' cruise.id item.id %}">Edit</a>
        {% endif %}
    </li>
{% endfor %}
</ul>

<a href="{% url 'add_item' cruise.id %}">Add Item</a>
{% endblock %}