{% extends 'base.html' %}

{% block content %}
<h1>Cruise Details</h1>
<p>Cruise:<b>{{ cruise }}</b></p>
<p>Start Date: <b>{{ cruise.start_date }}</b></p>
<p>End Date: <b>{{ cruise.end_date }}</b></p>
<p>Created by: <b>{{ cruise.creator.username }}</b></p>

<h2>Packing Items</h2>
<ul>
{% for item in items %}
    <li><b>{{ item.name }}</b> (Quantity: <b>{{ item.quantity }}</b>)</li>
{% empty %}
    <li>No items added yet.</li>
{% endfor %}
</ul>

<a href="{% url 'add_item' cruise.id %}">Add Item</a>
{% endblock %}